

.btn1 {
    width: 180px;
    height: 92px;

    border-radius: 0.7rem;

    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.btn2 {
    width: 180px;
    height: 92px;

    border-radius: 0.7rem;

    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.dash-title {
    font-size: 1.25rem;
    text-align: left;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
}

.subtitle {
    font-size: 0.9rem;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 0 1.5rem 0;
}

.btn1 p {
  color: #367BF4;
  font-weight: 600;
}

.btn2 p {
  color: #367BF4;
  font-weight: 600;
}

.btn2 img {
  margin-bottom: -17px;
}

.btn1 img {
  margin-bottom: -17px;
}

@media screen and (min-width: 48rem) { /* 768px */
  .header {
    padding: 1rem 2.5rem; /* 16px 40px */
  }
  .logo {
    font-size: 1.25rem; /* 20px */
  }
}