.title {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
}

.subtitle {
    display: flex;
    margin-left: 1.5rem;
}

.btn1 {
    margin-left: 0.5rem;
    width: 12.8rem;
    height: 7.6rem;
}

.btn2 {
    width: 12.8rem;
    height: 7.6rem;
}

.button-row {
    display: flex;

    gap: 0.2rem;
}

.subtitle {
    font-size: 0.9rem;
}

@media screen and (min-width: 48rem) { /* 768px */
  .header {
    padding: 1rem 2.5rem; /* 16px 40px */
  }
  .logo {
    font-size: 1.25rem; /* 20px */
  }
}