.title {
    display: flex;
    margin-top: 1rem;
}

.title img {
    width: 1.1rem;
    height: 1rem;
    margin-right: 0.8rem;
    margin-top: 1.3rem;
}

.title h3 {
    margin-top: 0.8rem;
    font-size: 1.3rem;
}